@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--header-height: 80px;

	--navigation-height: 60px;
	--navigation-bottom: 4dvh;

	--color-background: var(--background);

	--color-background-light-1: var(--background-light-1);
	--color-background-light-2: var(--background-light-2);
	--color-background-light-3: var(--background-light-3);
	--color-background-light-4: var(--background-light-4);

	--color-background-dark-1: var(--background-dark-1);

	--color-foreground: var(--foreground);
	--color-foreground-dark-1: var(--foreground-dark-1);
	--color-foreground-dark-2: var(--foreground-dark-2);
	--color-foreground-dark-3: var(--foreground-dark-3);

	--color-red: var(--red);
	--color-red-light-1: var(--red-light-1);
	--color-red-light-2: var(--red-light-2);
	--color-red-dark-1: var(--red-dark-1);
	--color-red-dark-2: var(--red-dark-2);

	--color-green: var(--green);
	--color-green-light-1: var(--green-light-1);
	--color-green-light-2: var(--green-light-2);

	--color-yellow: var(--yellow);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);

	--font-title: "Bodoni 72", "Segoe UI Emoji";
}

body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Hiragino Sans",
		"Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans", "Meiryo",
		sans-serif;
}

:root {
	--radius: 0.625rem;

	--background: #15151e;
	--background-light-1: #282637;
	--background-light-2: #4a4353;
	--background-light-3: #7f7280;
	--background-light-4: #b4a0ae;

	--background-dark-1: #01010c;

	--foreground: #f2f2f3;
	--foreground-dark-1: #d4d4d7;
	--foreground-dark-2: #acacb2;
	--foreground-dark-3: #8e8e97;

	--red: #ca6686;
	--red-light-1: #e087a3;
	--red-light-2: #f0b9ca;
	--red-dark-1: #9d4a65;
	--red-dark-2: #74364a;

	--green: #6dcc8f;
	--green-light-1: #99e5b4;
	--green-light-2: #cbf8db;

	--yellow: #e0cd6f;
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.hidden-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.hidden-scrollbar::-webkit-scrollbar {
		display: none;
	}
}
